
@{
    ViewData["Title"] = "Gracias";
}

<h1>Gracias por comunicarte conmigo</h1>
<p>Contestaré el mensaje lo más pronto posible.</p>
<div><a asp-action="Index" asp-controller="Home">Volver al home</a></div>